.app {
  height: 100vh;
  object-fit: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > img {
  margin-top: 10px;
  height: 120px;
}

.app > h3 {
  font-size: 1.5em;
  margin-top: 0px;
  color: #0f5180;
  text-shadow: 3px 3px 3px #3333;
}

.app > h3 > span {
  margin-left: 10px;
  font-size: 40px;
}

.app__container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  width: 350px;
  max-height: max-content;
  max-width: 550px;
  border: 1px solid #0a3d62;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: overlay;
  box-shadow: 4px 4px 7px #b1c7d5, -4px -4px 7px #d5efff;
}

.app__container::-webkit-scrollbar {
  display: none;
}

.app__container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app__container > form > input {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  height: 40px;
  background-color: #ffffffa9;
  border: 1px solid #0a3d62;
  border-radius: 10px;
  box-shadow: 1px 3px 2px #b1c7d5, -3px -3px 2px #d5efff;
  outline: none;
}

.app__container > form > button {
  margin: 0 50px;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 10px;
  border-radius: 20px;
  border: 2px solid #0a3d62;
  outline: none;
  text-shadow: 2px 2px 2px #3333;
  color: #0a3d62c7;
  background: #ffc83da6;
  box-shadow: 3px 3px 2px #b1c7d5, -3px -3px 3px #d5efff;
}

.app__container > form > button:hover {
  cursor: pointer;
  box-shadow: inset 5px 5px 2px #e7c36a, inset -5px -5px 2px #f1de8b;
}
